#cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    grid-row-gap: 0.4rem;
    row-gap: 0.4rem;
    column-gap: 0.4rem;
}

.card{
    width: 14rem;
}

.card>img {
    height: 10rem;
}

#card-action-group {
    display: flex;
    justify-content: space-around;
}

#card-action-group>button {
    width: 4.5rem;
}

#card-text-group {
    height: 3rem;
    overflow: hidden;
}

#custom-file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;  
}

#card-img-clearButton {
    position: absolute;
    padding: 0;
    background-color: transparent;
    color: rgb(197, 10, 10);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    right: 20%;
}

@media(max-width: 735px) {
    #cards-container{
        flex-direction: column;
    }

    #cards-container>.card{
        width: 100%;
    }
}

@media(max-width: 768px) {
    .form-label {
        text-align: center !important;
    }
}

.formFlex {
    display: flex;
    flex-direction: column;
}

.formFlex>button {
    width: fit-content;
    align-self: center;
}